In [4]:
age1 = int(input())
age2 =int(input())
age3 = int(input())
age4 = int(input())

x = [age1,age2,age3,age4]
if max(x):
    print("The oldest age was",max(x))

12
22
54
67
The oldest age was 67

In [5]:
n = int(input())
if n%5==0 and n%7==0:
    print('yes')
else:
    print("no")

2
no

In [18]:
c =int(input())
if c>=100000 :
    a=c*0.09
    print("The price is",c+a)
elif c>50000<100000:
    b= c*0.10
    print("the cost was",c+b)
elif c<=50000:
    b=c*0.05
    print("the cost is",c+b)

100
the cost is 105.0

In [22]:
"--->if elif else "
#Eg:1
a=7 
b=8
c=9
if a>b and a>c:
    print("A is Greater")
elif b>a and b>c:
    print("B is Greater")
else :
    print("C is Greateer")

C is Greateer

In [37]:
m = int(input())
if m<25:
    print("F")
elif m>25 and m<=45 :
    print("E")
elif m>45 and m<=50:
    print("D")
elif m>50 and m<=60:
    print("C")
elif m>60 and m<=80:
    print("B")
elif m>80 and m<=100:
    print("A")

120

In [81]:
n =200
for i in n:
    print(int(i))

TypeError: 'int' object is not iterable

In [85]:
str1 = "aeiouAEIOU"
char =input("Enter the char :")
if char in str1:
    print("vowel")
else:
    print("consonnt")

Enter the char :a
vowel

In [87]:
#shorthand if else
char = input()
str ="aeiouAEIOU"
print("vowel") if char in str1 else print("consonent")

a
vowel

In [ ]:
'''Looping can be implimented using
 for loop 
 while loop 
 '''
'''---> for loop :
                  ->for loop is used for itearation, if we know the number of times the loop have to run .'''
'''it is used to iterate the iterables eg(string,list,tuple,etc)'''
# todo --> syntax for loop
'''-> for syntax in python:
                           for userdefined_variable in range(stat,end,step): default step value is 1
                                                      statement1
                                                      statement2..etc
                                                      '''

In [ ]:
'''Eg :1
To print the value from 1 to 10 using for loop

for i in range (0,10):
print(i)
print("Hello")'''

In [61]:

for i in range (100,201):
    sum=0
    for val in str(i):
        sum=sum+int(val)
    if sum%2==0:
        print(i)

101
103
105
107
109
110
112
114
116
118
121
123
125
127
129
130
132
134
136
138
141
143
145
147
149
150
152
154
156
158
161
163
165
167
169
170
172
174
176
178
181
183
185
187
189
190
192
194
196
198
200

In [33]:
n=0
for i in range(21,43+1):
    n=i
    print("7 X",n,"=",i*7)

7 X 21 = 147
7 X 22 = 154
7 X 23 = 161
7 X 24 = 168
7 X 25 = 175
7 X 26 = 182
7 X 27 = 189
7 X 28 = 196
7 X 29 = 203
7 X 30 = 210
7 X 31 = 217
7 X 32 = 224
7 X 33 = 231
7 X 34 = 238
7 X 35 = 245
7 X 36 = 252
7 X 37 = 259
7 X 38 = 266
7 X 39 = 273
7 X 40 = 280
7 X 41 = 287
7 X 42 = 294
7 X 43 = 301

In [34]:
#use of format function 
for i in range (21,43+1):
    ans="7 X {} = {}"
    print(ans.format(i,i*7))

7 X 21 = 147
7 X 22 = 154
7 X 23 = 161
7 X 24 = 168
7 X 25 = 175
7 X 26 = 182
7 X 27 = 189
7 X 28 = 196
7 X 29 = 203
7 X 30 = 210
7 X 31 = 217
7 X 32 = 224
7 X 33 = 231
7 X 34 = 238
7 X 35 = 245
7 X 36 = 252
7 X 37 = 259
7 X 38 = 266
7 X 39 = 273
7 X 40 = 280
7 X 41 = 287
7 X 42 = 294
7 X 43 = 301

In [149]:

for i in range(0,4,1):
    j in range (4,0,-1):
        s=" "*i
        l="*"*j
    print(s,l)

SyntaxError: invalid syntax (Temp/ipykernel_14264/2840025404.py, line 2)

In [110]:
for val in range(20,40+1):
    if val%2==0:
        print(val)

20
22
24
26
28
30
32
34
36
38
40