In [1]:
# --> Common functions for List 
l1=[1,3,5,7,9]
print(len(l1))
print(max(l1))
print(min(l1))

5
9
1

In [2]:
#if 
l1=[1,4,5,"hello","l"]
print(max(l1))#--> Error becoze its a combination of int and string

TypeError: '>' not supported between instances of 'str' and 'int'

In [3]:
l1=[1,1.2,34,6.5,43,-4]
print(min(l1))

-4

In [5]:
#--> count
l1=[1,2,2,2,3,3,4,4,6,6]
print(l1.count(2))

3

In [6]:
# some functions which is specifically used for List
'''To add element inside List
   > insert() --> to add element at specific index position
   '''
l1=[1,1.2,34,6.5,43,-4]
l1.insert(2, "cars")
print(l1)

[1, 1.2, 'cars', 34, 6.5, 43, -4]

In [9]:
l1=[1,1.2,34,6.5,43,-4]
l1.append(23) #--> add the element at last 
print(l1)

[1, 1.2, 34, 6.5, 43, -4, 23]

In [11]:
# To delete element from the List
l1=[1,1.2,34,6.5,43,-4]
l1.pop()  #-->Used to delete last element in the List
print(l1)

[1, 1.2, 34, 6.5, 43]

In [12]:
l1=[1,1.2,34,6.5,43,-4]
l1.pop(1)  #-->Used to delete index posistion element (" 1 is the index value here")
print(l1)

[1, 34, 6.5, 43, -4]

In [14]:
#--> Remove is the function to delete specific element
#remove(element)
l1=[1,1.2,34,6.5,43,-4]
l1.remove(6.5)  
print(l1)

[1, 1.2, 34, 43, -4]

In [16]:
#--> Clear is the function used to empty an a list
l1=[1,1.2,34,6.5,43,-4]
l1.clear()  
print(l1)

[]

In [17]:
#$ del To delete the List Completly
l1=[1,1.2,34,6.5,43,-4]
del(l1)
print(l1)

NameError: name 'l1' is not defined

In [18]:
# joining of 2 List 
l1=[1,1.2,34,6.5,43,-4]
l2=['d','b',1]
print(l1+l2)

[1, 1.2, 34, 6.5, 43, -4, 'd', 'b', 1]

In [22]:
# To Combine 2 Lists
l1=[1,1.2,34,6.5,43,-4]
l2=['d','b',1]
l1.extend(l2)
print(l1)

[1, 1.2, 34, 6.5, 43, -4, 'd', 'b', 1]

In [26]:
#--> copy
l1=[1,1.2,34,6.5,43,-4]
l2= l1.copy()
print(l2)
print(id(l1))
print(id(l2))

[1, 1.2, 34, 6.5, 43, -4]
1691474591872
1691474588288

In [27]:
# diff between shallow copy and deep copy\\
 #--> Shallow copy  
    '''Note: this copy.copy will use for any data type '''
import copy
l1=[1,1.2,34,6.5,43,-4]
l2= copy.copy(l1)
l1.append(890)
print(l1)
print(l2)

[1, 1.2, 34, 6.5, 43, -4, 890]
[1, 1.2, 34, 6.5, 43, -4]

In [30]:
l1=[1,[1.2,34,6.5],[43,-4]]
print(l1[-1][0])

43

In [31]:
# --> Deep copy
''' used to copy the list with nested list'''
import copy
l1=[1,[1.2,34,6.5],[43,-4]]
l2= copy.deepcopy(l1)
print(l1)
print(l2)

[1, [1.2, 34, 6.5], [43, -4]]
[1, [1.2, 34, 6.5], [43, -4]]

In [33]:
# sort is used to arrange the elements in the list in accending or descending order 
l1=[1,1.2,34,6.5,43,-4]
l1.sort()
print(l1)
l1=[1,1.2,34,6.5,43,-4]
l1.sort(reverse=True)  '''Used to arrange the elements in descendindg order'''
print(l1)

[-4, 1, 1.2, 6.5, 34, 43]
[43, 34, 6.5, 1.2, 1, -4]

In [34]:
''' sort is also used to arrange the elements having str type also '''
l1 = ['w','e','s','d']
l1.sort()
print(l1)
'''Note : it can't arrange the elements in the list containing mixed tyoe of variables'''

['d', 'e', 's', 'w']

"Note : it can't arrange the elements in the list containing mixed tyoe of variables"

In [36]:
# List constructor 
#--> list() to convert other collection datatype to list
l3 = ((8,9,4))
print(list(l3))
l4=8
print(list((l4))) ''' We can't convert the single int into list'''

[8, 9, 4]

TypeError: 'int' object is not iterable

In [38]:
# nested List
l1 = [8,9,[0,8,7],['p','o','y'],[8,'t']]
print(l1[-2][1])

o

In [44]:
# combination of negitive and psitive indexing
l1 = [8,9,[0,8,7],['p','o','y'],[8,'t']]
print(l1[2:-1])

[[0, 8, 7], ['p', 'o', 'y']]

In [55]:
# ---> Remove in nesteed lists
l1 = [8,9,[0,8,7],['p','o','y'],[8,'t']]
l1[-1].remove('t')
print(l1)

[8, 9, [0, 8, 7], ['p', 'o', 'y'], [8]]

In [58]:
# Adding nested list inner lists
l1 = [8,9,[0,8,7],['p','o','y'],[8,'t']]
l1[3].extend(l1[-1])
l1.pop(-1)
print(l1)

[8, 9, [0, 8, 7], ['p', 'o', 'y', 8, 't']]

In [60]:
# --> Tuple
'''1) Tuple have to be surrounded by ()
    2) The elements inside tuple are not changable
    3) The elements inside tuple are indexed
    4) The element will execute in order 
    5) it is heterogenous 
    6) it allow duplicate elements'''

# Eg ;
t1 = (8,8,9,6,5.78,[9,0],(6,8),"hey",9+6j)
print(t1)
print(type(t1))

(8, 8, 9, 6, 5.78, [9, 0], (6, 8), 'hey', (9+6j))
<class 'tuple'>

In [61]:
# indexing,slicing are all same as list 

# len(), min(),max(),index(),count()--> all same as list
'''---> ways to create tuple :
       l1 = 0,8
       l1 = (9,8)
       l1 = 8,'''
l1 = 8,
print(type(l1))

<class 'tuple'>

In [64]:
# to add element inside the tuple ---> cannot add
#cannot  delete any element from tuple 

#To addd all element inside list and tuple 
#sum()
l1 = (8,9,6,3)
print(sum(l1))

26

In [66]:
# sort tuple 
t1 = (8,9,12,0,12)
print(tuple(sorted(t1)))
print(tuple(sorted(t1, reverse=True)))

(0, 8, 9, 12, 12)
(12, 12, 9, 8, 0)

In [67]:
# iterate list and tuple 
l1= [9,8,0,6,5]
for i in l1:
    print(i)

9
8
0
6
5

In [ ]:
#  iterate based on index value
l1 = [9,8,0,6,5,8,56]
for i in range ()

In [8]:
s1 = "hello world"
print(s1[:5])

hello

In [ ]:
# --> common functions for string
'''len(),max(),min()'''
#ord()--> used to find the ASCII value of a charecter
# s1 = 'u'
#print(ord(s1))

In [9]:
#function of string 
s1 = "hello world "
# To convert all characters to upper case 
print(s1.upper())

HELLO WORLD

In [10]:
# to convert of string to lower case
print(s1.lower())

hello world

In [12]:
# strip() --> to elemenate the space in beginning & the end of string
print(s1.strip())
print(s1.lstrip())
print(s1.rstrip())

hello world
hello world
hello world

In [17]:
#--> split() -> ''' to split the words in the string based on a character '''
print(s1.split(" "))
print(s1.split('r'))
print(s1.count("e"))

['hello', 'world', '']
['hello wo', 'ld ']
1

In [18]:
s1 = "hello world"
print(s1.count("e"))

1

In [19]:
#replace--> ''' to replace a specific character in the string'''
s1 = "hello world"
print(s1.replace('r','&&'))

hello wo&&ld

In [20]:
#swapcase --> ''' To convert small to capital at a time '''

s1 = "hello world"
print(s1.swapcase())

HELLO WORLD

In [21]:
# Title function 
s1 = "hello world"
print(s1.title())

Hello World

In [22]:
# capitalize --> ''' first letter wil be capital'''
s1 = "hello world"
print(s1.capitalize())

Hello world

In [25]:
# join the strings
s1 = "hello"
s2 = " world"
print(s1+s2)

hello world

In [28]:
#splitlines --> used to split the string based on lines
s1= '''how are you 
i am fine 
hey there'''
print(s1.splitlines())

['how are you ', 'i am fine ', 'hey there']

In [33]:
#Find function --> used to find the index number based on a character 
s1 = "hello world"
print(s1.find('z'))
print(s1.index('h'))

-1
0

In [37]:
# join()-->
l1= ['hello','world']
print(" ".join(l1))

hello world

In [42]:
# endswith()--> String either ends with that character or not 
s1 = "Welcome to all"
print(s1.endswith("l"))

True

In [45]:
#startswith()--> String either start with that character or not 
s1 = "Welcome to all"
print(s1.startswith("W"))

True

In [49]:
# isdigit
s1= "67"
print(s1.isdigit())

True

In [75]:
# print the string with reverse manner
s1 = "Welcome to all"
print(s1[::-1])

lla ot emocleW

In [92]:
#Eg ; 1 --> count of lowercase in string
s1= "Hey there you aRE"
count=0
for i in s1:
    if i.islower():
        count+=1
print(count)

11

In [107]:
#Eg:2
s1 = 'restarter'
k=s1[0]
l=s1[1:]
text = l.replace('r','$')
print(k+text)

resta$te$

4240

In [142]:
s1 = '''Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'''

count=len(s1)
print(count)
words = s1.split(" ")
print(len(words))
for val in sent:
    if val =='':
        index=sent.index('')
        sent.pop(index)
print(len(sent))
c=0
for i in s1:
    if i == " ":
        c+=1
print(c)

574
91
4
90